.like{
	cursor:pointer;
	width:49px;
	height:50px;
	float: right;
	background-image: url(http://www.airstage.com.tw/global/like/image/like01.png);
}
.likehover{
	background-image: url(http://www.airstage.com.tw/global/like/image/like02.png) !important;
}
.liked{
	cursor:pointer;
	width:49px;
	height:50px;
	float: right;
	background-image: url(http://www.airstage.com.tw/global/like/image/like03.png);
}
.likedhover{
	background-image: url(http://www.airstage.com.tw/global/like/image/like04.png) !important;
}