body {
	font-family: "·L³n¥¿¶ÂÅé", "Arial";
	font-size: 14px;
	background-color: #FFF;
	margin: 0px auto;
}

table, th, td {
	vertical-align:-webkit-baseline-middle;
}

textarea {
	width: 730px;
}

div {
	font-family: "Arial";
}


