body {
	font-family: "微軟正黑體", "Arial";
	font-size: 14px;
	background-color: #FFF;
	margin: 0px auto;
}

li, ul {
	font-family: "微軟正黑體", "Arial";
}

table, th, td {
	font-family: "微軟正黑體", "Arial";
	vertical-align:-webkit-baseline-middle;
}

textarea {
	font-family: "微軟正黑體", "Arial";
	width: 730px;
}

div {
	font-family: "微軟正黑體", "Arial";
}


